<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2GpRfLmGsNmVlO2HzA44-2AOMwWyhOcU</string>
	<key>GCM_SENDER_ID</key>
	<string>244159033050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brprogrammer.cleanArchitectureWithRiverpod</string>
	<key>PROJECT_ID</key>
	<string>clean-architecture-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-architecture-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244159033050:ios:db7ea8c5095565b6e17fe3</string>
</dict>
</plist>